{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": "> 0.5%, not dead"
      }
    ],
    [
      "minify",
      {
        "builtIns": false,
        "evaluate": false,
        "mangle": false
      }
    ]
  ],
  "comments": false
}
