:root {
  --secondary: #f46036;
  --purple-blue: #a370f0;

  --sl-color-bg: #171123;
  --sl-color-bg-sidebar: #130c1875;
  --sl-color-bg-nav: #130c1875;

  --sl-color-text-accent: var(--secondary);
  --sl-color-black: #231c2c;

  --sl-icon-color: #fff;

  --sl-color-gray-6: #231c2c;
  --sl-color-gray-5: #231c2c;

  --code-background: #231c2c;
  --code-border-color: #5b3a86;

  --sl-font: silka;
}

body {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='12' viewBox='0 0 20 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 12c0-.622-.095-1.221-.27-1.785A5.982 5.982 0 0 0 10 12c1.67 0 3.182-.683 4.27-1.785A5.998 5.998 0 0 0 14 12h2a4 4 0 0 1 4-4V6c-1.67 0-3.182.683-4.27 1.785C15.905 7.22 16 6.622 16 6c0-.622-.095-1.221-.27-1.785A5.982 5.982 0 0 0 20 6V4a4 4 0 0 1-4-4h-2c0 .622.095 1.221.27 1.785A5.982 5.982 0 0 0 10 0C8.33 0 6.818.683 5.73 1.785 5.905 1.22 6 .622 6 0H4a4 4 0 0 1-4 4v2c1.67 0 3.182.683 4.27 1.785A5.998 5.998 0 0 1 4 6c0-.622.095-1.221.27-1.785A5.982 5.982 0 0 1 0 6v2a4 4 0 0 1 4 4h2zm-4 0a2 2 0 0 0-2-2v2h2zm16 0a2 2 0 0 1 2-2v2h-2zM0 2a2 2 0 0 0 2-2H0v2zm20 0a2 2 0 0 1-2-2h2v2zm-10 8a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm0-2a2 2 0 1 0 0-4 2 2 0 0 0 0 4z' fill='%23372248' fill-opacity='0.15' fill-rule='evenodd'/%3E%3C/svg%3E");
}

strong {
  color: #fff;
}

starlight-menu-button button {
  background-color: var(--purple-blue);
}

aside.starlight-aside--caution {
  --sl-color-orange-low: #d29922;
  background-color: color-mix(in srgb, var(--sl-color-orange-low), transparent 90%);
}

aside.starlight-aside--tip {
  background-color: color-mix(in srgb, var(--sl-color-purple-low), transparent 90%);
}

aside.starlight-aside--note {
  background-color: color-mix(in srgb, var(--sl-color-blue-low), transparent 90%);
}

:not(pre) > code {
  color: #ffffff;
  border: #ffffff1a solid 0.1px;
  background-color: #6755813b !important;
  border-radius: 0.25rem;
  border: 1px solid var(--code-border-color);
  line-height: 1.7;
  font-family: monospace;
}

header.header {
  backdrop-filter: blur(10px);
}

.pagination-links {
  backdrop-filter: blur(2px);
}

starlight-tabs {
  margin-top: 2rem !important;
  border-radius: 0.5rem;
  border: 1px solid var(--code-border-color);
  backdrop-filter: blur(2px);

  section {
    padding: 0 1rem 1rem;
  }

  a {
    padding-bottom: 0.5rem !important;
  }
}

.tablist-wrapper {
  margin-top: 0.5rem;
}

.social-icons::after {
  border-inline-end: 1px solid transparent;
}

.site-title {
  color: #fff;
  font-size: 1.4rem;
  gap: 0.5rem;

  img {
    height: 1.7rem;
  }
}

.expressive-code .frame.has-title:not(.is-terminal) .title::after {
  border-top: none !important;
}
