@font-face {
  font-family: silka;
  src:
    local('silka'),
    url('./silka-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: silka;
  src:
    local('silka'),
    url('./silka-medium-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: silka;
  src:
    local('silka'),
    url('./silka-semibold-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
